// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2021 Markus Bauer <mb@karo-electronics.de>
 *
 */

/dts-v1/;

#include "imx8mp-qsxp-ml81-qsbase3-raspi-display.dts"

/ {
	model = "Ka-Ro electronics QSXP-ML81 (NXP i.MX8MP) module on QSBASE3 baseboard with Raspi Display and OV5640";
};

&dsp {
	status = "okay";
};

&i2c3 {
	ov5640_mipi_0: ov5640_mipi@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;
	
		pinctrl-names = "default";
		clocks = <&clk IMX8MP_CLK_IPP_DO_CLKO1>;
		clock-names = "xclk";
		assigned-clocks = <&clk IMX8MP_CLK_IPP_DO_CLKO1>;
		assigned-clock-parents = <&clk IMX8MP_CLK_24M>;
		assigned-clock-rates = <24000000>;
		csi_id = <1>;
//		powerdown-gpios = <&gpio4 19 GPIO_ACTIVE_HIGH>;
//		reset-gpios = <&gpio4 18 GPIO_ACTIVE_LOW>;
		mclk = <24000000>;
		mclk_source = <0>;	
/* 		virtual-channel;	*/	
/* 		mipi_csi;		*/
		
		status = "okay";
		
		port@1 {
			reg=<0x01>;
			ov5640_mipi_1_ep: endpoint {
			remote-endpoint = <&mipi_1_sensor_ep>;
			bus-type = <4>;
			};
		};
	};

};

&i2c2 {
	ov5640_mipi_1: ov5640_mipi@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;
	
		pinctrl-names = "default";
		clocks = <&clk IMX8MP_CLK_IPP_DO_CLKO1>;
		clock-names = "xclk";
		assigned-clocks = <&clk IMX8MP_CLK_IPP_DO_CLKO1>;
		assigned-clock-parents = <&clk IMX8MP_CLK_24M>;
		assigned-clock-rates = <24000000>;
		csi_id = <0>;
//		powerdown-gpios = <&gpio4 19 GPIO_ACTIVE_HIGH>;
//		reset-gpios = <&gpio4 18 GPIO_ACTIVE_LOW>;
		mclk = <24000000>;
		mclk_source = <0>;	
//		virtual-channel;		
//		mipi_csi;
		
		status = "okay";
		
		port@0 {
			reg=<0x00>;
			ov5640_mipi_0_ep: endpoint {
			remote-endpoint = <&mipi_0_sensor_ep>;
			bus-type = <4>;
			};
		};
	};};

&mipi_csi_0 {
	status = "okay";
	clock-frequency = <594000000>; 

	port@0 {
		reg=<0x00>;
		mipi_0_sensor_ep: endpoint {
			remote-endpoint = <&ov5640_mipi_0_ep>;
			bus-width = <4>;
			data-lanes = <4>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
			bus-type = <4>;
		};
	};
};

&mipi_csi_1 {
	status = "okay";
//	clock-frequency = <297000000>; 
	clock-frequency = <594000000>; 

	port@1 {
		reg=<0x01>;
		mipi_1_sensor_ep: endpoint {
			remote-endpoint = <&ov5640_mipi_1_ep>;
			bus-width = <4>;
			data-lanes = <4>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
			bus-type = <4>;
		};
	};


};

&cameradev {
	status = "okay";
};

&isi_0 {
	status = "disabled";

	cap_device {
		status = "okay";
	};

	m2m_device {
		status = "okay";
	};
};

&isi_1 {
	status = "disabled";

	cap_device {
		status = "okay";
	};

	m2m_device {
		status = "okay";
	};
};

&isp_0 {
	status = "disabled";
};

&isp_1 {
	status = "okay";
};

&dewarp {
	status = "okay";
};

&vpu_v4l2 {
	status = "okay";
};
